.homeContainer {
    display: flex;
  
    .quote-card-content{
      color: red;
      font-size: 18px;
      font-weight: bold;
      
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }


  }
  